:global {
  html {
    @import "../../node_modules/normalize.css/normalize.css";

    font-family: "Comic Sans MS";
    font-size: 16px;
    color: white;
    text-shadow: 0px 0px 6px black;
    background-image: url("../assets/money.jpg");
  }

  body {
    padding: 1em;
  }
}
